/* RESET RULES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */
/* header */
header .container {
    background-color: #0084FD;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo img {
    height: 40px;
    padding-left: 30px 
}

header ul {
    display: flex;
    gap: 25px;
    line-height: 40px;
    color: white;
}

.col-hamburgher img {
    height: 30px;
    filter: invert(1);
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

/* main */
/* hero */
main .hero {
    max-width: 550px;
    margin: 0 auto;
}

.hero .card img {
    height: 75px;
    color: #0084FD;
    margin-bottom: 30px;
}

.hero .col {
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
    margin-bottom: 25px;
}

.hero .card {
    text-align: center;
}

/* UTILITIES */
header {
    margin-bottom: 50px;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
}

.container {
    width: auto;
}

.btn-white {
    background-color: white;
    color: black;
}

header .col {
    padding-right: 30px;
}

.col-option {
    display: none;
}

main .row {
    flex-wrap: wrap;
}

.hero .card h3 {
    color: #0084FD;
    margin-bottom: 35px;
}

.hero .card p {
    margin-left: 25px;
    margin-right: 25px;
}


/* MEDIAQUERY */
@media (min-width: 1200px) {
    .col-option {
        display: block;
    }

    .col-hamburgher {
        display: none;
    }
}


/* DEBUG */