/* RESET RULES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */
/* header */
header section {
    background-color: #0084FD;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo img {
    height: 40px;
    padding-left: 30px 
}

header ul {
    display: flex;
    gap: 25px;
    line-height: 40px;
    color: white;
}

.col-hamburgher img {
    height: 30px;
    filter: invert(1);
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

/* main */
/* hero */
.hero .card img {
    height: 75px;
    color: #0084FD;
    margin-bottom: 30px;
}

.hero .col {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 12px;
}

.hero .card {
    text-align: center;
    background-color: #B5DDFF;
    border-radius: 20px;
}

.card-complete {
    display: flex;
    flex-wrap: wrap;
}

.hero .card .card-text img {
    height: 15px;
    filter: invert(1);
    margin-bottom: 0px;
}

.card-text {
    padding-left: 30px;
}

.hero .card p {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px;
}

.hero .card-img img {
    height: 270px;
    margin-top: 35px;
    display: block;
    margin-bottom: 0px;
}

/* strategic */
.strategic {
    background-color: #9792E4;
}

.strategic .row {
    padding-top: 90px;
    padding-bottom: 60px;
}

.strategic h2 {
    color: white;
}

.strategic p {
    color: white;
}

.strategic .btn-viola img {
    padding-top: 10px;
    text-align: center;
}

.btn-viola {
    background-color: #9792E4;
    height: 40px;
    width: 40px;
}

.col-white {
    background-color: white;
    border-radius: 20px;
}

/* UTILITIES */
header {
    margin-bottom: 50px;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.container-sm {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-blu {
    background-color: #0084FD;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
}

header .col {
    padding-right: 30px;
}

.col-option {
    display: none;
}

main .row {
    flex-wrap: wrap;
}

.card-text h3 {
    padding-top: 35px;
}

.card-text p {
    margin-bottom: 40px;
}

.hero h3 {
    color: #0084FD;
    margin-bottom: 35px;
}

.card-img {
    text-align: center;
}

.col-white p {
    color: black;
}

.strategic .btn-viola {
    margin: 0 auto;
}

/* MEDIAQUERY */
@media (min-width: 768px) {
    .hero .row .col-md {
        width: calc(8 * 100% / 12);
        display: flex;
        flex-wrap: nowrap;
    }

    .hero .col {
        width: calc(100% / 3);
    }

    .hero .card-complete > * {
        max-width: 50%;
    }

    .card-img {
        align-self: flex-end;
    }

    .strategic .row {
        display: flex;
        flex-wrap: nowrap;
    }

    .strategic .row > * {
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .col-option {
        display: block;
    }

    .col-hamburgher {
        display: none;
    }

}


/* DEBUG */