/* RESET RULES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */
/* header */
header section {
    background-color: #0084FD;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo img {
    height: 40px;
    padding-left: 30px 
}

header ul {
    display: flex;
    gap: 25px;
    line-height: 40px;
    color: white;
}

.col-hamburgher img {
    height: 30px;
    filter: invert(1);
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

/* main */
/* hero */
.hero .card img {
    height: 75px;
    color: #0084FD;
    margin-bottom: 30px;
}

.hero .col {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 12px;
}

.hero .card {
    text-align: center;
    background-color: #B5DDFF;
    border-radius: 20px;
}

.card-complete {
    display: flex;
    flex-wrap: wrap;
}

.card-baby {
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero .card .card-text img {
    height: 15px;
    filter: invert(1);
    margin-bottom: 0px;
}

.card-text {
    padding-left: 30px;
}

.hero .card p {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px;
}

.hero .card-img img {
    height: 270px;
    margin-top: 35px;
    display: block;
    margin-bottom: 0px;
}

/* strategic */
.strategic {
    background-color: #9792E4;
}

.strategic .row {
    padding-top: 90px;
    padding-bottom: 60px;
}

.strategic h2 {
    color: white;
}

.strategic p {
    color: white;
}

.strategic .btn-viola img {
    padding-top: 10px;
    text-align: center;
}

.btn-viola {
    background-color: #9792E4;
    height: 40px;
    width: 40px;
}

.col-white {
    background-color: white;
    border-radius: 20px;
}

/* partners */
.partners .container > * {
    text-align: center;
    gap: 20px;
}

.partners h2 {
    color: #9792E4;
}

.partners .card-part {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #9792E4;
    border-radius: 20px;
}

.partners .col {
    padding-left: 15px;
    padding-right: 15px;
}

.foto-sponsor {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.sp-1 {
    background-image: url(../img/testimonial1.jpg);
}

.sp-2 {
    background-image: url(../img/testimonial2.jpg);
}

.sp-3 {
    background-image: url(../img/testimonial3.jpg);
}

/* benefits */
.benefits {
    background-color: #9792E4;
    margin-top: 30px;
}

.benefits .card {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.benefits .col {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 12px;
}

.benefits .card-ben .btn-viola {
    background-color: #9792E4;
    width: fit-content;
    margin: 0 auto;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
}

.card-ben .numero {
    color: #9792E4;
    font-size: 35px;
}

.card-ben h3 {
    color: #9792E4;
}

/* about us */
.about-us h2 {
    color: #9792E4;
    font-size: 35px;
}

.about-us .col {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 12px;
}

.director {
    background-image: url(../img/about.jpg);
}

.about-us .btn img {
    height: 15px;
    filter: invert(1);
}

.about-us .col h3 {
    color: #9792E4;
}

.about-us .btn-viola {
    background-color: #9792E4;
    width: fit-content;
    margin: 0 auto;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
}

/* get started */
.get-started {
    background-color: #9792E4;
}

.get-started .col {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 12px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.get-started .btn-white {
    color: #9792E4;
    width: fit-content;
    margin: 0 auto;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
}

/* UTILITIES */
header {
    margin-bottom: 50px;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.container-sm {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-blu {
    background-color: #0084FD;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
}

header .col {
    padding-right: 30px;
}

.col-option {
    display: none;
}

main .row {
    flex-wrap: wrap;
}

.card-text h3 {
    padding-top: 35px;
}

.card-text p {
    margin-bottom: 40px;
}

.hero h3 {
    color: #0084FD;
    margin-bottom: 35px;
}

.col-complete img {
    padding-bottom: 70px;
}

.col-complete h2 {
    padding-bottom: 45px;
}

.col-complete p {
    padding-bottom: 20px;
}

.card-img {
    text-align: center;
}

.col-white p {
    color: black;
}

.strategic .btn-viola {
    margin: 0 auto;
}

.get-started .col h2 {
    color: #FDC15F;
}

.get-started h4 {
    opacity: 0.5;
}

/* MEDIAQUERY */
@media (min-width: 768px) {
    .hero .row .col-md {
        width: calc(8 * 100% / 12);
        display: flex;
        flex-wrap: nowrap;
    }

    .hero .col {
        width: calc(100% / 3);
    }

    .hero .card-complete > * {
        max-width: 50%;
    }

    .card-img {
        align-self: flex-end;
    }

    .strategic .row {
        display: flex;
        flex-wrap: nowrap;
    }

    .strategic .row > * {
        max-width: 50%;
    }

    .partners .card-part {
        display: flex;
        flex-wrap: nowrap;
    }

    .foto-sponsor {
        margin-left: 30px;
    }

    .text-sponsor {
        align-self: center;
        text-align: start;
        margin-left: 30px;
    }

    .benefits .col {
        width: 50%;
    }

    .about-us .AU {
        width: calc(8 * 100% / 12);
    }

    .about-us .DIR {
        width: calc(4 * 100% / 12);
    }
}

@media (min-width: 1200px) {
    .col-option {
        display: block;
    }

    .col-hamburgher {
        display: none;
    }

    .benefits .col {
        width: calc(100% / 3);
    }

}


/* DEBUG */